.navContainer {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 5;
    position: relative;
    top: 20px;
}

.navLink {
    color: black;
}